In [1]:
import pandas as pd
from statistics import mean as mean
heart = pd.read_csv ("http://raptor.kent.ac.uk/~ds756/heart.csv")

In [2]:
sigma = heart.sum (numeric_only=True) # Question 1
sigma

Age              49123.0
RestingBP       121540.0
Cholesterol     182498.0
FastingBS          214.0
MaxHR           125591.0
Oldpeak            814.6
HeartDisease       508.0
dtype: float64

In [3]:
sum (sigma)                          # Question 2

480288.6

Question 3 (assessment): The strategy is to sort the feature first and <i>then</i> compute the longest run.  The longest run is the mode.

Sorting was the "something" specified in the exercise required prior to invocation.

In [4]:
heart_i = heart.set_index ("Age")
heart_i = heart_i.sort_values ("Age")
heart_i.index

Int64Index([28, 29, 29, 29, 30, 31, 31, 32, 32, 32,
            ...
            74, 74, 74, 75, 75, 75, 76, 76, 77, 77],
           dtype='int64', name='Age', length=918)

In [5]:
def ComputeMode (z):
    mode = None    # What we think the mode is
    best = 0       # The mode's frequency

    current = None # The current value in the run
    ax = 0         # The length of the current run (accumulator)
    
    for x in z:
        if x != current:     # New value --> the run is broken
            if ax > best:    # Test if this is the longest we've seen so far
                best = ax
                mode = current
            ax = 1            # Reset the run
            current = x
        else:
            ax += 1           # Same run, increase the frequency
    return mode, best

In [6]:
mode = ComputeMode (heart_i.index)
mode

(54, 51)

In [7]:
freqs = heart[["Age"]].groupby (["Age"]).size () # Question 3, we can also accept this
freqs.loc[freqs == max (freqs)]

Age
54    51
dtype: int64

In [8]:
Rate = heart[["Age", "HeartDisease"]].groupby ("Age").mean () # Question 4
Rate

     HeartDisease
Age
28       0.000000
29       0.000000
30       0.000000
31       0.500000
32       0.400000
33       0.500000
34       0.285714
35       0.363636
36       0.333333
37       0.090909
38       0.687500
39       0.133333
40       0.461538
41       0.250000
42       0.166667
43       0.458333
44       0.315789
45       0.166667
46       0.541667
47       0.578947
48       0.483871
49       0.523810
50       0.560000
51       0.428571
52       0.527778
53       0.454545
54       0.450980
55       0.585366
56       0.657895
57       0.684211
58       0.666667
59       0.657143
60       0.750000
61       0.838710
62       0.714286
63       0.766667
64       0.681818
65       0.714286
66       0.538462
67       0.800000
68       0.600000
69       0.769231
70       0.857143
71       0.400000
72       0.750000
73       1.000000
74       0.714286
75       0.666667
76       0.500000
77       1.000000