# COMP8270 - Class 2

## Task 1

In [1]:
divisible = []

for number in range(100):
    if (number % 2) == 0 and (number % 5) == 0:
        divisible.append(number)
        
print(divisible)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## Task 2

In [4]:
names = ["Jim", "Hetty", "Kirsten", "Theo", "Henry", "Paul"]
letter = "K"
filtered = []

for name in names:
    if name[0] == letter:
        filtered.append(name)

print(filtered)

['Kirsten']

## Task 3

In [7]:
names = ["Jim", "Hetty", "Kirsten", "Theo", "Henry", "Paul"]
grouped = {}

for name in names:
    letter = name[0]
    group = []
    
    for name in names:
        if name[0] == letter:
            group.append(name)
    
    grouped[letter] = group
    
print(grouped)

{'J': ['Jim'], 'H': ['Hetty', 'Henry'], 'K': ['Kirsten'], 'T': ['Theo'], 'P': ['Paul']}

## Task 4

In [8]:
values1 = [4, 6, 2, 9, 10, 11, 24, 50, 33]
values2 = [3, 5, 24, 12, 13, 4, 20, 10, 6]
total = 0

for v1 in values1:
    for v2 in values2:
        if v1 == v2:
            total += v1
            
print(total)

44

## Task 5

In [10]:
my_dict = {"computer" : "apple", "model" : "macbook pro", "processor" : "M1 Pro", "year" : 2021}
inverted_dict = {}

for k, v in my_dict.items():
    inverted_dict[v] = k

print(inverted_dict)

{'apple': 'computer', 'macbook pro': 'model', 'M1 Pro': 'processor', 2021: 'year'}

## Task 6

In [11]:
values_list = [4, 12, 2, 9, 10, 11, 5, 9, 33]
total = 0

for index, v in enumerate(values_list):
    if v > 10:
        total += index

print(total)

14