# Introduction to Programming Artificial Intelligence 

## Class 7 - Pandas

In [1]:
import pandas as pd
from statistics import mean as mean

In [2]:
heart = pd.read_csv ("http://raptor.kent.ac.uk/~ds756/heart.csv") # Question 1

In [3]:
heart.info () # Questions 2, 3 and 4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
heart.shape # Or, for questions 2 and 3

(918, 12)

In [5]:
heart.dtypes # Question 4

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [6]:
heart.Oldpeak.mean () # Question 5

0.8873638344226579

In [7]:
heart.RestingBP.mean () # Question 6

132.39651416122004

In [8]:
heart.Age.mean () # Question 7

53.510893246187365

In [9]:
# This can also be used to find the means, but shouldn't be used because we are
# computing loads of things that were not required, so this is wrong.
# Imagine if the data set were larger.
heart.describe ()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [10]:
# Question 8, each row is a case so no weighting
d_percent = 100 * heart.HeartDisease.mean ()
print (d_percent, "%")

55.33769063180828 %

In [11]:
Forties = heart.set_index ("Age") # Question 9, could also heart = ...

In [12]:
#Question 10, subset with conditionals
Forties = Forties.loc[(Forties.index >= 40) & (Forties.index < 50)]
Forties.index.min (), Forties.index.max ()

(40, 49)

In [13]:
Forties.Oldpeak.mean ()     # 10(a)

0.581042654028436

In [14]:
Forties.RestingBP.mean ()   # 10(b)

127.35545023696683

In [15]:
mean (Forties.index)        # 10 (c)

44.796208530805686